@charset "UTF-8";
/* CSS Document */

/* because the header/footer is assembled separate from the body we need to reset the page value */
@page {

  size: Letter portrait;
  margin: 0;
  margin-left: var(--margin);
  margin-right: var(--margin);

}
