@charset "UTF-8";
/* CSS Document */

/*************************************** FONTS ***************************************/
/* fonts have to be embedded inside python while generating PDF */
/* which is why they are not listed here as locally referenced fonts */

/******************************* CORE *******************************/

:root {

  --margin: 25px;
  --serif: "Georgia", serif;
  --sans-serif: "Helvetica", sans-serif;

}

/******************************* GLOBALS *******************************/

html,
body {

    font-size: 10px;
    -webkit-print-color-adjust: exact !important;

}

html, body,
h1, h2, h3, h4, h5, h6,
p, li {

    font-family: var(--sans-serif);

}

h1, h2, h3, h4, h5, h6,
p, li, td {

    line-height: 1.5;

}

h1, h2, h3, h4, h5, h6 {

    text-wrap: balance;

}

p, li {

  font-family: var(--sans-serif);
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;

}

li {

    list-style: disc;
    padding-left: 1em;
}

/* extend page to print margin */
main {

    max-width: 100%;
    width: 100%;

}

/******************************* TABLES *******************************/

table {

    font-family: var(--sans-serif);
    margin-bottom: var(--margin);
    //table-layout: fixed;
    width: 100%;

}

/* header */
thead tr {

    border-bottom: 0.2em;
    border-bottom-style: solid;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;

}

/* row */
tbody tr:not(:last-of-type) {

    border-bottom: 0.05em;
    border-bottom-style: solid;

}

/* cell */
td,
th {

    padding-bottom: 0.25em;
    padding-right: 1em;
    padding-top: 0.25em;

}

/******************************* SECTIONS *******************************/

/* component wrap */
section {

    page-break-inside: avoid;
}

/* component wrap */
section:not(:last-of-type) {

    margin-bottom: var(--margin);

}

/* section headline */
section > h2 {

    border-bottom: 0.1em;
    border-bottom-style: solid;
    font-family: var(--sans-serif);
    font-size: 1.75em;
    margin-bottom: 0.2em;

}

/* subsection headline */
section > h3 {

    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;

}
