<footer>

    <div>

        <!-- TEAM NAME -->
        <p>
            <strong>TEAM_NAME_SHORT</strong>
            <span>TEAM_NAME_LONG</span>
        </p>

        <!-- PROJECT LABEL -->
        <p>
            <span>PROJECT_LABEL_NAME</span>
            <span>PROJECT_LABEL_DESCRIPTION</span>
        </p>

    </div>

</footer>
