<header>

    <!-- MASTHEAD -->
    <div class="report-masthead">

        <!-- NAME -->
        <h1 class="report-branding-name">REPORT_BRANDING_NAME</h1>

        <!-- EDITION -->
        <p class="report-edition">
            <span class="report-edition-description">REPORT_DESCRIPTION</span>
            <span class="report-edition-timestamp">REPORT_TIMESTAMP</span>
        </p>

    </div>

    <!-- REPORT NAME -->
    <div class="report-name">

        <!-- TITLE -->
        <h1 class="report-title">

            <!-- PROJECT NAME / EFFORT NAME -->
            <span class="report-title-project">PROJECT_NAME (EFFORT_NAME_FUNCTIONAL)</span>

            <!-- PROJECT DESCRIPTION -->
            <span class="report-title-description">PROJECT_DESCRIPTION</span>

        </h1>

    </div>

</header>
