<main>

    <!-- CURRENT WEEK -->
    <section id="current-week">

        <h2>Current Week (DATE_PUBLISH)</h2>

        <!-- NARRATIVE -->
        <div class="narrative">
        REPORT_NARRATIVE
        </div>

    </section>

    <!-- SCHEDULE -->
    <section id="schedule">

        <h2>Schedule</h2>

        <!-- TASKS -->
        <h3>Tasks</h3>

        <!-- MILESTONES -->
        <div class="milestones">
        REPORT_TASKS
        </div>

    </<section>

    <!-- POTENTIAL BLOCKERS -->
    <section id="potential-blockers">

        <h2>Potential Blockers</h2>

        <!-- RISKS -->
        <h3>Risks</h3>

        <!-- ISSUES -->
        <div class="risks">
        REPORT_RISKS
        </div>

    </section>

    <!-- KEY EVENTS -->
    <section class="key-events">

        <h2>Key Events</h2>

        <!-- NARRATIVE -->
        <div class="narrative">REPORT_KEY_EVENTS</div>

    </section>

    <!-- CONTEXT -->
    <section id="project-context">

        <!-- SUBHEAD -->
        <h2>Project Context</h2>

        <!-- SUBHEAD -->
        <h3>About</h3>

        <div class="narrative">

            <!-- PROJECT REQUISITE -->
            <h4>Project Requisite</h4>

            REPORT_PROJECT_REQUISITE

            <!-- ABOUT -->
            <p>REPORT_PROJECT_ABOUT</p>

        </div>

    </section>

</main>
